body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background : linear-gradient(rgb(0, 153, 255),rgba(0, 80, 133, 0.527));
    height: 679px;
}


.container{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.253);
    width: 350px;
    height: 460px;
    box-shadow: 0 0 10px 3px rgba(0, 247, 255, 0.562);
    border-radius: 10px;
    transition: 0.5s;   
}

.max-container{
    width: 400px;
    height: 500px;
}

.scientific{
    display: none;
}

.scientific-unhide{
    transition: 1s;
    display: inline-block;
}


.back{
    transform: translateY(0px);
    visibility: visible;
}

#screen{
    margin: 20px 0;
    width: 80%;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius:10px;
    background-color: rgba(0, 174, 255, 0.753);
    box-shadow: 0 0 10px 3px rgba(0, 247, 255, 0.562);
    outline: none;
    text-align: right;
    font-size: 2rem;
    color: rgba(0, 247, 255, 0.562);
}



.btn{
    margin: 5px 5px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100px;
    background-color: rgba(0, 174, 255, 0.753);
    box-shadow: 0 0 10px 1px rgba(0, 247, 255, 0.562);
    font-size: 1rem;
    color: rgb(0, 255, 255);
    transition: 1s;
    
}


.btn-click{
    background-color: rgba(0, 110, 255, 0.651) ;
}

.btn-0{
    width: 115px;
    border-radius: 20px;
}

.btn-dot{
    font-size: 1.5em;
}

